.container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    padding: 20px;
    text-align: center;
}
.loginLogo{
    max-width: 180px;
    margin-bottom: 40px;
}
.container p {
    margin-bottom: 10px;
}
input:focus {
    outline: none;
}
.loginForm {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
    border: 2px solid #99cccc;
    border-bottom: 0;
    padding: 15px;
}
.passwordForm {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #99cccc;
    padding: 15px;
}

.btn { 
    width: 100%;
    background-color: #666666;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #669999;
}
.btn:active {
    background-color: #99cccc;
}