.header {
  position: absolute;
  z-index: 1;
  top: 5px;
}
.headerLogo{
  width: 80px;
}
.content {
  max-width: 980px;
  margin: auto;
  padding: 5px;
  overflow: auto;
}

.user {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  text-align: right;
}

.user span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  display: block;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
  color: #fff;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
