.container {
  max-width: 980px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

 .transitionWrapper {
    position: relative;
  }

  .map {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
  }