.enter {
  position: absolute;
  z-index: 1;
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}

.enter.enterActive {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transform: translateX(0);
  transition: all ease 200ms;
}

.appear {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}

.appear.appearActive {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all ease-out 200ms;
}

.leave {
  transform: translateX(0);
  border-radius: 0;
}

.leave.leaveActive {
  border-radius: 0;
  transform: translateX(-100%);
  transition: all ease 200ms;
}