.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background:rgba(0,0,0,0.7);
}

.heading {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.swipeable {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

.routeContainer {
    color: white;
    position: absolute;
    font-size: 16px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.color1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: #003366;
    transition: background-color ease 200ms;
}

.color2 {
    
}

.color3 {
    
}