.container {
  color: white;
  position: absolute;
  font-size: 16px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.destination {
  line-height: 1.5em;
  background: rgba(50,50,50,1);
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
}

.destination span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.destination .total {
  width: 100%;
  padding: 10px;
}

.destination .total > div {
  display: inline-block;
}

.destination .total > div:first-child {
  margin-right: 20px;
}

.arrayHeading {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 5px;
}

.list {
  width: 90%;
  margin: 0 auto;
}

.listItem {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.listItem:nth-child(even) .index,
.listItem:nth-child(even) .address {
  background: rgba(61, 92, 90, 1);
}

.listItem > div {
  padding: 10px;
}

.listItem .index {
  flex: 1;
  
  position: relative;
  background: rgba(61, 92, 111, 1);
}

.listItem .index span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.listItem .address {
  flex: 5;
  background: rgba(61, 92, 111, 1);
}

.listItem .distance {
  flex: 2;
  background: rgba(64, 64, 64, 1);
}

.listItem .duration {
  flex: 2;
  background: rgba(50, 50, 50, 1);
}


