.container {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    padding: 70px 20px;
}

.content {
    text-align: center;
    width: 100%;
    height: 100%;
}

.content p {
    line-height: 1.5em;
    margin-bottom: 20px;
}

.content button {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background:rgba(61, 92, 90, 1);
    outline: none;
}

.heading {
    margin-bottom: 20px;
}